<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="http://listjs.com/no-cdn/list.js"></script>
    <meta charset=utf-8 />
    <title>Existing list</title>
    <style>
        body {
            font-family:sans-serif;
        }
        table td, table th {
            padding:5px;
        }

        #csvcontainer {
            float:left;
        }
        #contacts {
            float:left;
        }

        #store {
            float:left;
        }

        #auction {
            float:left;
        }
    </style>
</head>
<body>

<button id="store">Store</button>
<button id="auction">Auction</button>

<div id="contacts">
    <table>
        <thead>
        <tr>
            <th class="sort" data-sort="name">Name</th>
            <th class="sort" data-sort="email">email</th>
            <th class="sort" data-sort="cpp">ccp</th>
            <th colspan="2">
                <input type="text" class="search" placeholder="Search by name or email" />
            </th>
        </tr>
        </thead>
        <tbody class="list">
        <tr>
            <td class="id" style="display:none;">0</td>
            <td class="name">dummy</td>
            <td class="email">dummy</td>
            <td class="ccp">100</td>
            <td class="edit"><button class="edit-item-btn">Edit</button></td>
            <td class="remove"><button class="remove-item-btn">Remove</button></td>
        </tr>
        <% if(users.length) {
                console.log("in here");
                var counter = 0;
                var csvArray = new Array();
                users.forEach(function(user){
                    counter++;
                    csvArray.push(user.name);
        %>
        <tr>
            <td class="id" style="display:none;"><%= counter %></td>
            <td class="name"><%= user.name%></td>
            <td class="email"><%= user.email%></td>
            <td class="ccp"><%= user.ccp %></td>
            <td class="edit"><button class="edit-item-btn">Edit</button></td>
            <td class="remove"><button class="remove-item-btn">Remove</button></td>
        </tr>
        <% }) } %>
        </tbody>
    </table>
    <table>
        <td class="name">
            <input type="hidden" id="id-field" />
            <input type="text" id="name-field" placeholder="Name" />
        </td>
        <td class="email">
            <input type="text" id="email-field" placeholder="email" />
        </td>
        <td class="ccp">
            <input type="text" id="ccp-field" placeholder="ccp" />
        </td>
        <td class="add">
            <button id="add-btn">Add</button>
            <button id="edit-btn">Edit</button>
        </td>
    </table>
</div>

<div id = "csvcontainer">
    <textarea id = "csvtext" cols = "50" spellcheck="false"></textarea>
    <button id="update-btn">Batch Update</button>
</div>

</body>
<script>

    var nameString = "<%= csvArray %>"

    var nameArray;
    if(nameString)
        nameArray = nameString.split(',');
    var nameCCPArray = new Array();

    $('body').on('keypress', 'input', function(args) {
        if (args.keyCode == 13) {
            $("#add-btn").click();
            return false;
        }
    });


    var options = {
        valueNames: [ 'id', 'name','email', 'ccp']
    };


    // Init list
    var contactList = new List('contacts', options);

    contactList.remove('name', 'dummy');

        nameArray.forEach(function(name){
            if(contactList.get('name', name)[0])
                nameCCPArray.push({name: name, email: contactList.get('name', name)[0].values().email, ccp: contactList.get('name', name)[0].values().ccp});

        });


    var idField = $('#id-field'),
            nameField = $('#name-field'),
            emailField = $('#email-field'),
            ccpField = $('#ccp-field'),
            addBtn = $('#add-btn'),
            editBtn = $('#edit-btn').hide(),
            removeBtns = $('.remove-item-btn'),
            editBtns = $('.edit-item-btn'),
            updateBtn= $('#update-btn'),
            storeBtn=$('#store'),
            auctionBtn=$("#auction");


    // Sets callbacks to the buttons in the list
    refreshCallbacks();

    storeBtn.click(function(){
        window.location.href='/profilestore';
        return false;
    });

    updateBtn.click(function() {
        contactList.clear();
        nameCCPArray = {};
        var csv = $('#csvtext').val();
        var multiline = csv.split(/[\n\r\n]/g);
        multiline.forEach(function (line) {
            var lineKV = line.split(',');
            if (lineKV.length == 3) {
                nameCCPArray[lineKV[0]] = lineKV[1];
                contactList.add({
                    id: Math.floor(Math.random() * 110000),
                    name: lineKV[0],
                    email: lineKV[1],
                    ccp: addbits(lineKV[2])
                });
            }
        });

        $.ajax({
            url: '/update',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({csv: csv})
    }).done(function (data, textStatus, jqXHR) {
        console.log("Success: " + data);
    }).fail(function (jqXHR, textStatus, errorThrown) {
        console.log("Error: " + errorThrown);
    }).always(function () {
        console.log("Done!");
    });

    clearFields();
    refreshCallbacks();
    refreshCSV();
    resizeTextarea();

    });

    addBtn.click(function() {

        $.ajax({
            url: '/add',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ name: nameField.val(), email: emailField.val(), ccp: addbits(ccpField.val()) })
        }).done(function(data, textStatus, jqXHR) {
            console.log("Success: " + data);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Error: " + errorThrown);
        }).always(function() {
            console.log("Done!");
        });

        if(contactList.get("name", nameField.val())[0] === null || contactList.get("name", nameField.val())[0] === undefined)
        {
            contactList.add({
                id: Math.floor(Math.random() * 110000),
                name: nameField.val(),
                email: emailField.val(),
                ccp: addbits(ccpField.val())
            });

            nameCCPArray.push({name:nameField.val(), email:emailField.val(),ccp: addbits(ccpField.val())});

        } else {
            var item = contactList.get("name", nameField.val())[0];
            item.values({ccp: addbits(ccpField.val())});
            nameCCPArray.push({name:nameField.val(), email:emailField.val(),ccp: addbits(ccpField.val())});

            for(var i = 0; i < nameCCPArray.length; ++i){
                if(nameCCPArray[i].name == nameField.val()){
                    nameCCPArray[i].ccp = addbits(ccpField.val());
                    nameCCPArray[i].email = emailField.val();
                }
            }
        }

        nameField.attr("disabled", false);

        clearFields();
        refreshCallbacks();
        refreshCSV();
        resizeTextarea();
    });

        function addbits(expr){
            var chars = expr.split("");
            var n = [], op = [], index = 0, oplast = true;

            n[index] = "";

            // Parse the expression
            for (var c = 0; c < chars.length; c++) {

                if (isNaN(parseInt(chars[c])) && chars[c] !== "." && !oplast) {
                    op[index] = chars[c];
                    index++;
                    n[index] = "";
                    oplast = true;
                } else {
                    n[index] += chars[c];
                    oplast = false;
                }
            }

            // Calculate the expression
            expr = parseFloat(n[0]);
            for (var o = 0; o < op.length; o++) {
                var num = parseFloat(n[o + 1]);
                switch (op[o]) {
                    case "+":
                        expr = expr + num;
                        break;
                    case "-":
                        expr = expr - num;
                        break;
                    case "*":
                        expr = expr * num;
                        break;
                    case "/":
                        expr = expr / num;
                        break;
                }
            }

            return expr;
        }


    editBtn.click(function() {

        $.ajax({
            url: '/submit',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({name: nameField.val(), email:emailField.val(),ccp: addbits(ccpField.val()) })
        }).done(function(data, textStatus, jqXHR) {
            console.log("Success: " + data);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Error: " + errorThrown);
        }).always(function() {
            console.log("Done!");
        });

        var item = contactList.get('id', idField.val())[0];
        item.values({
            id:idField.val(),
            email:emailField.val(),
            ccp: addbits(ccpField.val())

        });

        for(var i = 0; i < nameCCPArray.length; ++i){
            if(nameCCPArray[i].name == nameField.val()){
                nameCCPArray[i].ccp = addbits(ccpField.val());
                nameCCPArray[i].email = emailField.val();
            }
        }

        clearFields();
        editBtn.hide();
        addBtn.show();

        nameField.attr("disabled", false);

        $('body').on('keypress', 'input', function(args) {
            if (args.keyCode == 13) {
                $("#add-btn").click();
                return false;
            }
        });

        refreshCSV();
    });

    function refreshCallbacks() {
        removeBtns = $(removeBtns.selector);
        editBtns = $(editBtns.selector);

        removeBtns.click(function() {
            $.ajax({
                url: '/remove',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({name: $(this).closest('tr').find('.name').text()})
            }).done(function(data, textStatus, jqXHR) {
                console.log("Success: " + data);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log("Error: " + errorThrown);
            }).always(function() {
                console.log("Done!");
            });
            var itemId = $(this).closest('tr').find('.id').text();
            contactList.remove('id', itemId);
            delete nameCCPArray[$(this).closest('tr').find('.name').text()];

            nameField.attr("disabled", false);

            refreshCSV();
            resizeTextarea();
        });

        editBtns.click(function() {
            var itemId = $(this).closest('tr').find('.id').text();
            var itemValues = contactList.get('id', itemId)[0].values();
            idField.val(itemValues.id);
            nameField.val(itemValues.name);
            nameField.attr("disabled", true);
            emailField.val(itemValues.email);
            ccpField.val(itemValues.ccp);

            editBtn.show();
            addBtn.hide();
            $('body').on('keypress', 'input', function(args) {
                if (args.keyCode == 13) {
                    $("#edt-btn").click();
                    return false;
                }
            });
        });
    }

    function clearFields() {
        nameField.val('');
        ccpField.val('');
        emailField.val('');
    }

    function refreshCSV(){
        var csv = ""

        for(var i = 0; i < nameCCPArray.length; ++i){
            csv+=nameCCPArray[i].name;
            csv+=',';
            csv+=nameCCPArray[i].email;
            csv+=',';
            csv+=nameCCPArray[i].ccp;
            csv+='\n';
        }
        $('#csvtext').val(csv)
    }

    function resizeTextarea() {
        var str = $('#csvtext').val();
        var strArray = str.split('\n');
        var linecount = strArray.length+1;
        $('#csvtext').attr('rows', linecount);

    };

    refreshCSV();
    resizeTextarea();


</script>
</html>